@inherits LayoutComponentBase
@inject ILocalStorageService _localStorage
@inject HttpClient _client

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-3">
@if( DashboardData != null )
{
            <a href="/dashboard">@DashboardData.UserDisplayName</a>
}
else
{
            <a href="/signin">Sign In</a>
}
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    public DashboardRequest DashboardData{ get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (!firstRender)
        {
            DashboardData = await DataManager.GetDashboard(_client, _localStorage);
        }
    }
}
