@page "/dashboard"
@using DiscoverUO.Lib.Shared
@using DiscoverUO.Lib.Shared.Users
@using DiscoverUO.Web.Components.Data
@using System.Net.Http.Headers
@inject ILocalStorageService _localStorage
@inject HttpClient _client

@if (DashboardData == null)
{
    @if (ShowErrorMessage)
    {
        <p><em>Error: @ErrorMessage</em></p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <div>
        <div>
            <div>
                Welcome back, @DashboardData.UserDisplayName!
            </div>
        </div>
    </div>
}

@code
{
    public string ErrorMessage { get; set; }
    public bool ShowErrorMessage { get; set; }
    public DashboardRequest DashboardData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        DashboardData = await DataManager.GetDashboard(_client, _localStorage);
        StateHasChanged();
    }
}