@page "/login"
@using Microsoft.AspNetCore.Components
@inject LoginComponent login
<h1>Login</h1>

<form @onsubmit="@login.HandleLogin">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" @bind="login.Username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" @bind="login.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    @if (login.ShowErrorMessage)
    {
        <div class="alert alert-danger mt-2">@login.ErrorMessage</div>
    }
</form>

@code {
}