@page "/terms"
@using Microsoft.AspNetCore.Components.Web

<MudContainer>
    <MudPaper Class="pa-16 ma-2" Elevation="2"> 
        <h1>Terms of Use</h1>

        <p>Please read these Terms of Use carefully before using this website.</p><br />
        
        <h2>Acceptance of Terms</h2>

        <p>By accessing or using this website, you agree to be bound by these Terms of Use. <strong>You must be at least 13 years old to register an account on this website. If you are under 13, please do not register. You can still browse anonomously. </strong> If you disagree with any part of these Terms of Use, please do not use this website.</p><br />

        <h2>Use of the Website</h2>

        <p>You agree to use this website only for lawful purposes and in accordance with these Terms of Use. You agree not to:</p><br />
            <p>Use this website in any way that could cause damage, disable, overburden, or impair the website or interfere with any other party's use of the website.</p><br />
            <p>Attempt to gain unauthorized access to any portion of the website, or any other systems or networks connected to the website.</p><br />
            <p>Use any automated system, including without limitation, "robots," "spiders," "offline readers," or "bots," to access the website in a manner that sends more request messages to the website servers than a human could reasonably produce in the same period of time.</p><br />

        <h2>Disclaimer of Warranties</h2>

        <p>This website is provided "as is" without any warranties, express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p><br />

        <h2>Limitation of Liability</h2>

        <p>In no event shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of this website.</p><br />

        <h2>Changes to Terms of Use</h2>

        <p>We reserve the right to modify these Terms of Use at any time without prior notice. Your continued use of the website following any such changes constitutes your acceptance of the new Terms of Use.</p><br />

        <h2>Contact Us</h2>

        <p>If you have any questions about these Terms of Use, please contact us at demonicurges05@gmail.com.</p><br />
    </MudPaper>
</MudContainer>

@code
{

}